@model Areas_Doctors_Views_Home_Privacy
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_DoctorsLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
